# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.env
.env.*

# ==============================
# Django
# ==============================
db.sqlite3
*.log
media/
staticfiles/

# ==============================
# Docker
# ==============================
*.pid
*.seed

# ==============================
# Elasticsearch Data
# ==============================
elasticsearch-data/

# ==============================
# HuggingFace Model Cache
# ==============================
huggingface_cache/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
.DS_Store

# ==============================
# OS Generated
# ==============================
Thumbs.db
